@media screen and (min-width: 1720px) {
  .main .main__adventage {
    padding: 5% 15%; }
  .main .box__text .text-title, .main .box__text .text {
    width: 40%; }
  .main .main__app .app__first {
    padding: 160px 15% 160px 16%; }
  .main .main__app .app__second {
    padding: 0 15% 160px 16%; }
  .main .main__contact {
    padding: 0 15% 0 20%; } }
